@import "tailwindcss";

.prose {
    max-width: 65ch;
    line-height: 1.75;
    font-size: 1.05rem;
}

.prose h1,
.prose h2,
.prose h3 {
    line-height: 1.3;
    font-weight: 700;
}

h2 {
    margin-top: 2rem;
}